<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- MyBatis SqlSessionFactory 설정 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/egovframework/sqlmap/mysql/sql-mapper-config.xml" />
		<!-- Query가 있는 XML 위치 -->
		<property name="mapperLocations" value="classpath*:/egovframework/sqlmap/mysql/mappers/**/*.xml" />
		<!-- <property name="mapperLocations" value="classpath:/egovframework/sqlmap/mysql/mappers/*.xml"/> -->
	</bean>

	<!-- MyBatis SqlSessionTemplate 설정 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>

	<!-- MapperConfigurer 설정 -->
	<bean
		class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="egovframework.cms.member.security.service.impl, 
										egovframework.cms.member.service.impl, egovframework.cms.mypage.service.impl" />
	</bean>
</beans>