/* 게시판 테이블 스타일 */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}
table th{
	background-color: #f9f9f9;
	border-top: 2px solid #4f4f4f;
	color : #4f4f4f;
	border-bottom: 1px solid #ccc;
	padding : 15px;
}
table td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    word-wrap: break-word; /* 내용 줄바꿈 허용 */
    overflow: hidden;
    text-overflow: ellipsis; /* 긴 내용 ... 표시 */
    white-space: nowrap; /* 한 줄 고정 */
}
table td a{
	color: #4f4f4f;
	text-decoration: none; /* 밑줄 제거 */
}
table td a:hover {
    text-decoration: underline; /* hover 시만 밑줄 */
}

form {
    margin-top: 20px;
}

form select, form input, form button {
    padding: 6px 10px;
    font-size: 14px;
}

.main-content h1 {
    margin-bottom: 20px;
}

.no-post-message{
	text-align: center;
    padding: 40px 0;
    color: #999;
    font-size: 16px;
}